<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Page</title>
    <link rel="stylesheet" href="/hello.css">
</head>
<body>
     <div class="container">

    
    <aside class="sidebar">
      <h2 class="logo">AdminPanel</h2>
      <ul>
        <li class="active">Dashboard</li>
        <li>Users</li>
        <li>Products</li>
        <li>Orders</li>
        <li>Settings</li>
        <li>Logout</li>
      </ul>
    </aside>

    
    <div class="main">

      <!-- ---------------------------------------top navbar -->
      <header class="topbar">
        <h3>Dashboard</h3>
        <div class="admin-profile">
          <span>Admin</span>
          <img src="https://i.pravatar.cc/40" alt="profile">
        </div>
      </header>

      <!-- ----------------------Cards Section-------------------------- -->
      <section class="cards">
        <div class="card">
          <h4>Total Users</h4>
          <p><span><%= count %></span></p>
        </div>

        <div class="card">
          <h4></h4>
          <p></p>
        </div>

        <div class="card">
          <h4></h4>
          <p></p>
        </div>

        <div class="card">
          <h4></h4>
          <p></p>
        </div>
      </section>
</body>
</html>