<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/hello.css">
</head>
<body>

    <%- include("partials/header") %>

      
      <section class="table-section">
       <a href="profile" id="all-btn">Show All data</a>
       <br>
        <a href="/create" id="add=btn">Add new account</a>
      </section>

    </div>
  </div>

</body>
</html>

 

