<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" >
        <h3>TAGS</h3>
        <input type="text" name="Tags" id="username">
        <br>
        <h3>Type</h3>
        <input type="text" name="Type" id="fullName">
        <br>
        <h3>Posts Content</h3>
        <textarea name="posts" id="bio"></textarea>
        <br>
        <button>Upload</button>
    </form>
</body>
</html>