* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fafafa;
}

.profile-container {
    width: 60%;
    margin: 40px auto;
    
}

.profile-header {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    box-shadow: 0px 2px 0px 0px rgb(143, 140, 140);
    padding: 20px;

    
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
    text-align: right;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.follow-btn,
.message-btn {
    padding: 6px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.follow-btn {
    background-color: #0095f6;
    color: white;
}

.message-btn {
    background-color: #efefef;
}
#email{
    font-style: italic;
}

.stats {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: right;
    text-align: center;

}
.stats span a {
    text-decoration: none;
    border: 2px solid ;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border-radius: 7px;
}
.stats #button{
    color: red;
    border: 2px solid ;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;

    
}.stats form{
    margin: 0;
}

.bio h4 {
    margin-bottom: 5px;
}

#post-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.item{
    width: 300px;
    height: 400px;
    border: 2px solid red;
}

.post-grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.header{
    height: 45px;
    background-color: rgb(53, 180, 235);
    display: flex;
    flex-direction: row;
    
}
#search{
    display: inline-block;
    background-color: #eff2f5;
    
}


.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111827;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: #1f2937;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-profile img {
  border-radius: 50%;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h4 {
  margin-bottom: 10px;
  color: #555;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

/* ---------------Table------ */
.table-section {
  display: flex;
  gap: 20%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.table-section a{
  text-decoration: none;
  border: 2px solid white;
  margin-left: 20px;
  padding: 7px;
  border-radius: 6px;
  background-color: #111827;
  color: #fafafa;


}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  padding: 12px;
  text-align: left;
}

table thead {
  background: #f1f5f9;
}

table tbody tr:nth-child(even) {
  background: #f9fafb;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
}

.status.active {
  background: #10b981;
}

.status.inactive {
  background: #ef4444;
}

/* Responsive */
@media(max-width: 768px) {
  .sidebar {
    display: none;
  }
}
